.container {
    width: 85%;
    height: 80%;
    z-index: 10;
    margin: 3rem 4rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}


.chart {
    width: 100%;
    height: 100%;
    padding: 1rem;

}

.dark {
    background-color: var(--card-black);
    color: #dddddd;
}



