.container {
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #dddddd 1px solid;
    padding: 0rem 3rem;
}

.left-items {
    font-size: small;
}

.right-items {
    display: flex;
    gap: 1rem;
}