:root {
  --primary-black: rgb(16,19,27);
  --accent-purple: rgb(80,48,229);
  --accent-black: rgb(22,29,42);
  --accent-light-black: rgb(26,33,47);


}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

